@import '../../_mixin/mixin.scss';

.my-datepicker {
    position: relative;
    bottom: 1;
    border-radius: 5px;
}

.my-datepicker .MuiInput-underline:before {
    border-bottom: none !important;
}

.my-datepicker .MuiInputBase-root.Mui-disabled {
    color: black !important;
}

.my-datepicker .MuiInput-underline:after {
    border-bottom-color: magenta !important;
}