@import '../../_mixin/mixin.scss';

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiInputBase-root.Mui-disabled {
    color: black !important;
}

.MuiInput-underline:after {
    border-bottom-color: magenta !important;
}