@import '../../_mixin/strike_animation';

@include strike_animation;

.my-datepicker {
    position: relative;
    bottom: 1;
    border-radius: 5px;
    
    .MuiInput-underline:before {
        border-bottom: none !important;
    }
    
    .MuiInputBase-root.Mui-disabled {
        color: black !important;
    }
    
    .MuiInput-underline:after {
        border-bottom-color: magenta !important;
    }
}
