@import '../../_mixin/strike_animation';

.todo-wrapper {
    @include strike_animation;

    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    
    input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
    }
}
