@import '../../_mixin/icon_styles';

.actions-wrapper {
    @include icon-styles;
    
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    height: 100%;

    .edit-icon {
        font-size: 20px;
    }
    
    .delete-icon {
        font-size: 20px;
    }
    
    .save-icon {
        font-size: 22px;
    }
    
    .cancel-icon {
        font-size: 20px;
    }
    
    .delete-icon, .cancel-icon {
        margin-left: 25px;
        margin-right: 10px;
    }
    
    .edit-icon, .save-icon {
        margin-left: 15px;
    }
    
}