@mixin icon-styles {
    [class$="-icon"] {
        display: block;
        color: darkgrey;
        cursor: pointer;
        // font-size: 20px;

        &:hover {
            color: magenta;
        }
    }


}