@import '../../_mixin/icon_styles';

.checkbox-wrapper {
    @include icon_styles;

    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100%; 

    .completed-icon {
        font-size: 22px;
        color: magenta;
    }
    
    .uncompleted-icon {
        font-size: 22px;
        color: magenta;
    }
}
