@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


.ag-theme-alpine {
  @include ag-theme-alpine((
    odd-row-background-color: null,
    font-size: 16px,
    font-family: ("Roboto", sans-serif),
    row-hover-color: null,
    range-selection-border-color: rgba(0,0,0,0),
    cell-horizontal-padding: 10,
		selected-row-background-color: lightgreen,
  ));
}

.ag-react-container {
	height: 100%;
}

.ag-cell-value, .ag-cell-wrapper {
	width: 100%;
}

	.app-component {
    width: 650px;
    position: absolute;
    left: 50%;
    top: 30vh;
    transform: translateX(-50%);
}

.app-component > img {
    width: 200px; 
    margin: 40px auto 0;
    display: block;
}


[class$="-icon"] {
		display: block;
		color: darkgrey;
		cursor: pointer;
}

@keyframes strike {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
	
.strike {
	position: relative;
}

.strike::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	background: black;
	animation-name: strike;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}