@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  /* background: rgb(82, 244, 246); */
  /* background: radial-gradient(circle, rgba(82, 244, 246, 1) 39%, rgba(0, 212, 255, 1) 55%, rgba(158, 160, 214, 1) 97%); */
  background: blueviolet;
}

.ag-react-container {
  height: 100%;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.to-do-input {
  background: #3B465C;
  color: #ccc;
  height: 60px;
  flex-grow: 1;
  padding: 0 10px;
  font-size: 20px;
}

.to-do-input::placeholder {
  color: #ddd;
}

button[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: rgb(10, 209, 209);
  width: 60px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

button[type="submit"]:active {
  opacity: 0.95;
}

i {
  /* margin: 0 12px; */
  /* position: relative; */
  /* top: 1px; */
}

.completed-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 22px;
  /* font-weight: bold; */
  /* color: limegreen; */
  color: grey;
  cursor: pointer;
}

.uncompleted-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 22px;
  /* font-weight: bold; */
  color: grey;
  cursor: pointer;
}

.edit-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 22px;
  /* font-weight: bold; */
  color: grey;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}

.save-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 22px;
  /* font-weight: bold; */
  color: grey;
  cursor: pointer;
}

.cancel-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 18px;
  /* font-weight: bold; */
  color: grey;
  cursor: pointer;
}

.save-icon:hover, .cancel-icon:hover {
  opacity: 0.7;
}

.delete-icon {
  display: block;
  /* margin: 12px 0; */
  font-size: 18px;
  /* font-weight: bold; */
  color: grey;
  cursor: pointer;
}

/* .completed-icon:hover, .uncompleted-icon:hover {
  opacity: 0.7;
} */

.MuiInput-underline:before {
  border-bottom: none !important;
}

.todowrapper {
  cursor: pointer;
}

.ag-cell-value, .ag-cell-wrapper {
  width: 100%;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* [col-id="completed"] .ag-header-cell-text {
  font-size: 33px;
} */