body {
  position: relative;
  min-height: 100vh;
  background: rgb(82, 244, 246);
  background: radial-gradient(circle, rgba(82, 244, 246, 1) 39%, rgba(0, 212, 255, 1) 55%, rgba(158, 160, 214, 1) 97%);
}